//Color
$special-color: rgba(255, 249, 135, 0.747);
$gray-color: rgba(150,150,150,1);
$white-color: #FFFFFF;
$light-color: #FFFFD3;
$black-color: black;

//Font
$main-font: 'Source Sans Pro', sans-serif;
$spacial-font: 'Dancing Script', cursive;
