.navbar{
    display: inline-flex;
    min-width: 100%;
    justify-content: center;
    margin: 20px 15px;
    
    .links{
        a{
            text-decoration: none;
            color: $gray-color;
            font-weight: 300;
            text-align: center;
            padding: 10px;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            font-size: 11px;
        }
    }
    .social{
        position: absolute;
        float: right;
        top: 17px;
        right: 0;
        i{  
            color: $black-color;
            padding: 10px;
            font-size: 11px;
        }
    }
}
.title{
    display: flex;
    justify-content: center;
    a{  
        line-height: 1.2;
        text-decoration: none;
        display: inline-block;
        margin: 0;
        font-family: $spacial-font;
        color: $black-color;
        text-align: center;
        font-weight: 400;
        font-size: 150px;
        letter-spacing: 0em;
    }
}
.media{
    display: none;
    a{
        line-height: 1;
        font-size: 75px;
        text-decoration: none;
        display: inline-block;
        margin: 0;
        font-family: $spacial-font;
        color: $black-color;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0em;
    }
}